/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* CSS custom properties */
:root {
  /* Colors */
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);

  /* Shadow */
  --card-shadow: 0 1.5625rem 1.5625rem 0 rgba(0, 0, 0, 4.77%);
}

/* Utility classes */
.text-preset-1 {
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-2 {
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.0125rem;
  font-weight: 400;
}

/* Styles */
body {
  background-color: var(--slate-300);
}

/* Main */
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .qr-code-card {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--white);
    padding: 1rem;
    padding-bottom: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: var(--card-shadow);

    .qr-code-wrapper {
      width: 18rem;
      height: 18rem;
      border-radius: 0.625rem;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .qr-code-text {
      padding-inline: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        color: var(--slate-900);
      }

      p {
        color: var(--slate-500);
      }
    }
  }
}

/* Footer */
footer {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  padding: 2rem;
}
